[Unit]
Description = prometheus node_exporter deamon

[Service]
ExecStart = /bin/node_exporter
ExecStop = /bin/kill $MAINPID
ExecReload = /bin/kill -HUP $MAINPID
Type = simple

[Install]
WantedBy = multi-user.target
