[Unit]
Description = prometheus server deamon

[Service]
EnvironmentFile = /usr/local/bin/prometheus/env
ExecStart = usr/local/bin/prometheus $OPTIONS
ExecStop = /bin/kill -15 $MAINPID
ExecReload = /bin/kill -HUP $MAINPID
Type = simple

[Install]
WantedBy = multi-user.target
