[Unit]
Description = Prometheus node_exporter deamon

[Service]
ExecStart = /usr/local/bin/node_exporter
ExecStop = /bin/kill -15 $MAINPID
ExecReload = /bin/kill -HUP $MAINPID
Type = simple

[Install]
WantedBy = multi-user.target
