[Unit]
Description = Prometheus node_exporter deamon

[Service]
#EnvironmentFile = /usr/local/node_exporter/env
ExecStart = /usr/local/node_exporter/node_exporter $OPTIONS_NODE
ExecStop = /bin/kill -15 $MAINPID
ExecReload = /bin/kill -HUP $MAINPID
Type = simple

[Install]
WantedBy = multi-user.target
