[Unit]
Description = Prometheus node_exporter deamon

[Service]
EnvironmentFile = /usr/local/bin/{{ name }}/env
ExecStart = /usr/local/bin/node_exporter $OPTIONS_NODE
ExecStop = /bin/kill -15 $MAINPID
ExecReload = /bin/kill -HUP $MAINPID
Type = simple

[Install]
WantedBy = multi-user.target
