[Unit]
Description = prometheus Server deamon

[Service]
EnvironmentFile = /usr/local/prometheus/env
ExecStart = /usr/local/prometheus/prometheus $OPTIONS_PROM
ExecStop = /bin/kill -15 $MAINPID
ExecReload = /bin/kill -HUP $MAINPID
Type = simple

[Install]
WantedBy = multi-user.target
